<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the mightiest of coders, Code himself, at
  themightycoder@gmail.com.
  <br><br>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
